.footer-container{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    gap: 7.5rem;


}


.footer-header{
    max-width: 26rem;
}

.footer-category{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;

}